
.pass {
  width: 200px;
  .passColor {
    width: 100%;
    height: 5px;
    margin: 5px 0;
  }
  .red {
    color: red;
  }

  .yellow {
    color: yellow;
  }

  .green {
    color: green;
  }

  .gray {
    color: gray;
  }

}


